# Q0: import dash standard libraries

In [ ]:
# !pip install dash
# !pip install jupyter_dash

In [1]:
from dash import Dash, dcc, html, Input, Output
from jupyter_dash import JupyterDash
import numpy as np

# Q1: Make dash that prints "Data Science"

In [ ]:
app = Dash(__name__)

app.layout = html.Div([
    html.H1(children='Data Science')
])

if __name__ == '__main__':
    app.run()

# Q2: Make dash that takes name input and outpt "Welcome to Data Science dashboard {name}"

In [ ]:
app = Dash(__name__)

app.layout = html.Div([
    html.Div([
        "Enter your name ",
        dcc.Input(id='my-input', type='text')
    ]),
    html.Br(),
    html.Div(id='my-output'),

])


@app.callback(
    Output(component_id='my-output', component_property='children'),
    Input(component_id='my-input', component_property='value')
)
def update_output_div(name):
    return f'Welcome to Data Science dashboard {name}'

if __name__ == '__main__':
    app.run()

# Q3: Make Plotly-Dash that takes two inputs (numbers) and output 3 numbers x, y , z= x+y
- hint: use html.Div, dcc.Input(type='number')

In [ ]:
app = Dash(__name__)

app.layout = html.Div([
    html.Div([
        " number 1 : ",
        dcc.Input(id='input1', type='number'),
        
        " number 2: ",
        dcc.Input(id='input2', type='number')
        
    ]),
    html.Br(),
    html.Div(id='my-output'),

])


@app.callback(
    Output(component_id='my-output', component_property='children'),
    Input(component_id='input1', component_property='value'),
    Input(component_id='input2', component_property='value')
)
def update_output(in1,in2):
    return f'x= {in1} y= {in2} z={in1+in2}'

if __name__ == '__main__':
    app.run()

# Q4.1: Make JubyterDash with Rangeslider from 1-15 with 6 option

In [ ]:
app = JupyterDash(__name__) 


app.layout = html.Div([
    html.Div([
    html.P("choose a number:"),
    dcc.RangeSlider(id="slider", min=1, max=15, step=3),
  
    ]),
    html.Br(),
    html.Div(id='my-output'),

])



@app.callback(
    Output(component_id='my-output', component_property='children'), 
    Input("slider", "value"))
    
def update_output(v):
    return f'your value is {v} '


# app.run()  
app.run_server(use_reloader=False, mode='inline')

# Q4.2: add to the previous dash: Label, set default value on rangeslider as 7-10

In [ ]:
app = JupyterDash(__name__) 


app.layout = html.Div([
    html.Div([
    html.Label("choose a number:"),
    dcc.RangeSlider(id="slider", min=1, value=[7,10], max=15, step=2.5),
  
    ]),
    html.Br(),
    html.Div(id='my-output'),

])



@app.callback(
    Output(component_id='my-output', component_property='children'), 
    Input("slider", "value"))
    
def update_output(v):
    return f'your value is {v} '


# app.run()  
app.run_server(use_reloader=False, mode='inline')

# Q5: Make 3 different Dcc types (Dropdown - Checkbox...) in one dash

In [ ]:
app = JupyterDash(__name__) 


app.layout = html.Div([
    html.Div([
    html.P("choose the  number of people :"),
    dcc.Slider(id="slider", min=1, max=5, step=1),
    html.Br(),
        
    html.P("choose the region :"),
    dcc.Dropdown( id="dropdown",options=['Makkah', 'Riyadh', ' Dammam', ' Madinah',] , multi=False),  
    html.Br(), 
     
    html.P("choose where you want to go :"),
    dcc.Checklist(id="checklist",options=['resturant', 'amusement park'],inline=True)

]),
    html.Br(),
    html.Div(id='my-output')
     ])



@app.callback(
    Output('my-output','children'), 
    Input("slider", "value"),
    Input("dropdown", "value"),
    Input("checklist", "value"))
    
def update_output(s , d , c):
    return f'your choose  {s} people booking to [ {d} ] for gonig to {c} '

app.run_server(use_reloader=False, mode='inline')

# Q6: Make Plotly chart, then add it to a plotly_dash

In [3]:
import plotly.express as px

In [ ]:
app = JupyterDash(__name__) 


app.layout = html.Div([
   "Enter the title ",
      dcc.Input(id='my-input',value=" title" ,type='text'),
      dcc.Graph(id="graph")
])


@app.callback(
    Output("graph", "figure"), 
    Input("my-input", "value"))
    
def update_bar_chart(t):
    fig = px.bar(x=[1,2,3,4,5,6,7], y=[1,2,3,4,5,6,7],title=t)

    return fig

  
app.run_server(use_reloader=False, mode='inline')

# Q7: From our data make plotly-dash with suitble chart, and Dropdown.

- Dropdown should contain at least 3 options, each one represents different column.
- Add label to dropdown.
- The chart data should change depending on the selected dropdown option.

In [2]:
import pandas as pd
df = pd.read_csv("titanic passenger list.csv")
df

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,1.0,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3.0,0.0,"Zabour, Miss. Hileni",female,15.0,1.0,0.0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3.0,0.0,"Zabour, Miss. Thamine",female,NaN,1.0,0.0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3.0,0.0,"Zakarian, Mr. Mapriededer",male,27.0,0.0,0.0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3.0,0.0,"Zakarian, Mr. Ortin",male,27.0,0.0,0.0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3.0,0.0,"Zimmerman, Mr. Leo",male,29.0,0.0,0.0,315082,7.8750,NaN,S,NaN,NaN,NaN

In [4]:
app = JupyterDash(__name__) 
app.layout = html.Div([
    html.H1("Titanic Passenger Data"),
    html.Label("Select column:"),
    dcc.Dropdown(id='dropdown', options=['survived',"sex","age"],value="age"),
    
          dcc.Graph(id="graph")])


@app.callback(
    Output('graph', 'figure'),
    Input('dropdown', 'value'))

def update_chart(column):
    fig = px.histogram(df, x=column)
    return fig


if __name__ == '__main__':
    app.run_server(mode='inline')

Dash is running on http://127.0.0.1:8050/

# Q8: add 2 more charts to the prevoius Ploty-Dash

In [4]:
app = JupyterDash(__name__) 
app.layout = html.Div([
    html.H1("Titanic Passenger Data"),
    html.Label("Select column:"),
    dcc.Dropdown(id='dropdown', options=['survived',"sex","age"],value="age"),
    
    dcc.Graph(id="graph1"),
    dcc.Graph(id="graph2"),
    dcc.Graph(id="graph3")

                   
])
@app.callback(
    Output('graph1', 'figure'),
    Output('graph2', 'figure'),
    Output('graph3', 'figure'),
    Input('dropdown', 'value'))

def update_chart(column):
    fig1 = px.histogram(df, x=column)
    fig2=px.bar(df,x="survived", y=column)
    fig3= fig1=px.bar(df,x=column, y="survived")
    return fig1,fig2,fig3


if __name__ == '__main__':
    app.run_server(mode='inline')

Dash is running on http://127.0.0.1:8050/

# Q9: Search for "Plotly Gallery" and fetch for a graph and use it with our data.

- Note: You need to put the resourse addres of fetched your grapth.

# resourse : 
   https://www.python-graph-gallery.com/

In [1]:
from dash import Dash, dcc, html, Input, Output
from jupyter_dash import JupyterDash
import numpy as np
import seaborn as sns
import pandas as pd
import plotly.express as px
df = pd.read_csv("titanic passenger list.csv")

app = JupyterDash(__name__)
app.layout = html.Div([
    html.H1('Titanic Passenger Data'),
    html.P("Select color depend on what:"),
    dcc.RadioItems(id="Radio", options=["pclass", 'embarked', 'survived'], value="pclass"),
    dcc.Graph(id="graph")
])


@app.callback(
    Output("graph", "figure"), 
    Input("Radio", "value"))

    
def display_color(col):
    fig = px.bar(df ,x="age", y="sex",   color=col);

    return fig


app.run_server(mode='inline')

Dash is running on http://127.0.0.1:8050/

# Challenge 1.1: Create Plotly dash with two charts depends on different columns of the data
- First Chart : Pie
- Secound Chart: is by your Choice ( Not Pie )

# Challenge 1.2: Make Hovering over a slice of the pie changes the data for the second chart depending on what the slice is.